
.button{
     -fx-background-color: transparent;
 }

.button:hover{
   -fx-background-color:#101152;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
-fx-border-width: 0px 0px 2px 0px;
-fx-border-color:#fffff;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}
